<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiahui.nbarobot.dao.gamble.amount.UserWinLoseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jiahui.nbarobot.domain.gamble.amount.UserWinLoseInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="amt" property="amt" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, source, result, amt, create_time, `user`, `desc`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_win_lose_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getAllLogs" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from user_win_lose_info order by id desc
  </select>
  <select id="getLastLogs" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_win_lose_info order by id desc limit #{n}
  </select>

  <select id="getByDate" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from user_win_lose_info WHERE create_time &gt;= #{startDate} AND create_time &lt;=
    #{endDate}
    order by id desc
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_win_lose_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiahui.nbarobot.domain.gamble.amount.UserWinLoseInfo" >
    insert into user_win_lose_info (id, source, result,
      amt, create_time, `user`,
      `desc`)
    values (#{id,jdbcType=INTEGER}, #{source,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR},
      #{amt,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP}, #{user,jdbcType=VARCHAR},
      #{desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiahui.nbarobot.domain.gamble.amount.UserWinLoseInfo" >
    insert into user_win_lose_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="amt != null" >
        amt,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="user != null" >
        `user`,
      </if>
      <if test="desc != null" >
        `desc`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="amt != null" >
        #{amt,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="user != null" >
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiahui.nbarobot.domain.gamble.amount.UserWinLoseInfo" >
    update user_win_lose_info
    <set >
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="amt != null" >
        amt = #{amt,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="user != null" >
        `user` = #{user,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiahui.nbarobot.domain.gamble.amount.UserWinLoseInfo" >
    update user_win_lose_info
    set source = #{source,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      amt = #{amt,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      `user` = #{user,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
